{% load static %}
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <script src="{% static 'prediction_app/color-modes.js' %}"></script>
    <title>Home</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'prediction_app/basic.css' %}">

  </head>
<body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Home</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0 " href="topgainers">Top Gainers</a>
        <a class="nav-link fw-bold py-1 px-0" href="toplosers">Top Losers</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Search Company</h1>
    <form method="POST">
      {% csrf_token %} 
    <div class="input-group">
      <span class="input-group-text" id="search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg></span>
      <input type="text" id="companysymbol" name="companysymbol"  class="form-control" placeholder="SYMBOL" aria-label="Search" aria-describedby="search">
      <input class="btn btn-secondary" type="submit" value="SUBMIT">
    </div>
    </form>
  </main>

  <footer class="mt-auto text-white-50">
  
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>
